<div class="btn-group" role="group">
    <a href="/seotracker/latest" id="latest" type="button" class="btn btn-default">Latest Result</a>
    <a href="/seotracker/all-time" id="all-time" type="button" class="btn btn-default">All Time Results</a>
</div>